<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Editar Usuario</h1>
        </header>
        <main>
            <form action="{{ url_for('edit', id=item[0]) }}" method="post" class="form">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" value="{{ item[1] }}" required>

                <label for="surname">Apellido:</label>
                <input type="text" id="surname" name="surname" value="{{ item[2] }}" required>

                <label for="email">Correo Electronico:</label>
                <input type="email" id="email" name="email" value="{{ item[3] }}" required>

                <label for="business">Chamba:</label>
                <input type="text" id="business" name="business" value="{{ item[4] }}" required>

                <button type="submit" class="btn btn-submit">Actualizar</button>
            </form>
            <a class="btn btn-back" href="{{ url_for('index') }}">Regresar</a>
        </main>
    </div>
</body>
</html>
